<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>도움말</title>
</head>

<body>
<h1>도움말</h1>
<h2>개요</h2>
요양병원의 환자와 치료사의 일정을 조율하는 프로그램입니다.<br>
<h2>치료사 추가하기</h2>
치료사를 추가하려면 두 가지 요소가 필요합니다.<br>
<ol>
  <li>치료사의 이름</li>
  <li>자격증의 여부</li>
</ol>
치료사의 이름은 치료사를 구별할 때 사용됩니다. 치료사의 이름은 중복될 수 없습니다.<br>
자격증의 여부는 해당 치료사가 ndt 치료를 할 수 있는지의 여부를 나타냅니다.<br>
자격증이 없는 치료사는 해당 치료를 할 수 없습니다.<br>
치료사의 이름을 입력하고 자격증의 여부를 선택한 뒤, 치료사 추가 버튼을 클릭하면 치료사를 추가할 수 있습니다.<br>
<a href="/register_doctor">치료사 추가하러 가기</a>
<h2>환자 추가하기</h2>
환자를 추가하려면 여러 가지 요소가 필요합니다.<br>
<a href="/register_patient">환자 추가하러 가기</a><br><br>

일정 페이지로 가려면 아래를 클릭해주세요<br>
<a href="/success">일정 보러가기</a>
</body>

</html>
