<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"> 
</head>
<div> 로그인 </div>
<form action="/login" method="post">
  <div>
    <label>아이디:</label>
    <input type="text" name="email"/>
  </div>
  <div>
    <label>비밀번호:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="로그인"/>
  </div>
</form>

<br><div> 치료사 등록 </div>

<form action="/signup" method="post">
  <div>
    <label>이름:</label>
    <input type="text" name="email"/>
  </div>
  <div>
	<label>자격증:</label>
    <input type="radio" name="certificate" value="true" checked> 해당 
    <input type="radio" name="certificate" value="false"> 비해당<br>
  </div>
  <div>
    <input type="submit" value="등록하기"/>
  </div>
</form>

<br><div> 환자 등록 </div>
<form action="/signup_patient" method="post">

  <div>
    <label>이름:</label>
    <input type="text" name="name"/>
  </div>

  <div>
	<label>성별:</label>
    <input type="radio" name="gender" value="male" checked> 남자 
    <input type="radio" name="gender" value="female"> 여자<br>
  </div>

  <div>
	<label>NDT:</label>
    <input type="radio" name="ndt" value="true" checked> 해당 
    <input type="radio" name="ndt" value="false"> 비해당<br>
  </div>

  <div>
	<label>GAIT:</label>
    <input type="radio" name="gait" value="true" checked> 해당 
    <input type="radio" name="gait" value="false"> 비해당<br>
  </div>

  <div>
	<label>MAT:</label>
    <input type="radio" name="mat" value="true" checked> 해당 
    <input type="radio" name="mat" value="false"> 비해당<br>
  </div>

  <div>
	<label>HEAT:</label>
    <input type="radio" name="heat" value="true" checked> 해당 
    <input type="radio" name="heat" value="false"> 비해당<br>
  </div>

  <div>
	<label>WATER:</label>
    <input type="radio" name="water" value="true" checked> 해당 
    <input type="radio" name="water" value="false"> 비해당<br>
  </div>


  <div>
    <input type="submit" value="등록하기"/>
  </div>
</form>

<div>
<form action="/view_patient" method="get">
	<input type="submit" value="전체 환자 보기" 
    onclick="window.location='/view_patient';" />     
</form>
</div>

</html>
