<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"> 
</head>
<div> 로그인 </div>
<form action="/login" method="post">
  <div>
    <label>아이디:</label>
    <input type="text" name="email"/>
  </div>
  <div>
    <label>비밀번호:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="로그인"/>
  </div>
</form>

<br><div> 치료사 등록 </div>

<form action="/signup" method="post">
  <div>
    <label>이름:</label>
    <input type="text" name="email"/>
    <input type="text" name="password" value = "aaa"/>
  </div>
  <div>
	<label>자격증:</label>
    <input type="radio" name="certificate" value="true" checked> 해당 
    <input type="radio" name="certificate" value="false"> 비해당<br>
  </div>
  <div>
    <input type="submit" value="등록하기"/>
  </div>
</form>

<div>
<form action="/register_patient" method="get">
	<input type="submit" value="환자 등록하기" 
    onclick="window.location='/register_patient';" />     
</form>
</div>

</html>
