<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<button id="button1" onclick="button1_click();">Add new schedule</button> 

<script>
  // 웹소켓 전역 객체 생성
  var ws = new WebSocket("ws://localhost:3000");
  var is_master = false;
  // 연결이 수립되면 서버에 메시지를 전송한다
  ws.onopen = function(event) {
    ;
  }

  // 서버로 부터 메시지를 수신한다
  ws.onmessage = function(event) {
	is_master = event.data;
  }

  // error event handler
  ws.onerror = function(event) {
    console.log("Server error message: ", event.data);
  }

  function button1_click() {
	if(is_master == "master")
		location.href="/addSchedule";
	else
		alert("This is only for master");
  }
</script>


</div>

</body>
</html>

